# build output
dist/
.output/
.cache/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env*.local
.env.production
.env.local
.env.development

# macOS-specific files
.DS_Store
._*

# Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.tmp
*.temp
*.bak
.vercel
.netlify
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Lock files (uncommenting if you want to ignore them)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
